<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655127706535-64tbgp9gcne9l03h80lgjotqdcujln2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655127706535-64tbgp9gcne9l03h80lgjotqdcujln2c</string>
	<key>API_KEY</key>
	<string>AIzaSyCs4MvQ_O9SPGovRPUZlc45dt5WOZNC6_o</string>
	<key>GCM_SENDER_ID</key>
	<string>655127706535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testchatsoloasia.app</string>
	<key>PROJECT_ID</key>
	<string>chat-app-dbd2e</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-dbd2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655127706535:ios:73bfeffe41da813c7b5482</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-dbd2e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>